<h3>Hi <%= @borrower.email %>!</h3>
Książka, którą zarezerwowałeś <%= @book.title %> będzie dostępna <%= @reservation.expires_at %>
<%= link_to "Przejdź do książki", book_url(@book.id, host: 'localhost:3000') %>
